*{

	font-family: verdana;

}

body{

background-image: url("img/01.jpg");
font-family: Arial, sans-serif;

	background-position: center;
	background-attachment: fixed;
	background-size: 100% 100%;
	



}